@{
    ViewData["Title"] = "Home Page";
}

@{
    List<Songs> songs =(List<Songs>) ViewData["songs"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var song in songs)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@song.Name</h5>
            <p class="card-text">@song.Artist</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}